<template>
  <div class="auth-page">
    <el-form
      :model="loginForm"
      ref="loginForm"
      label-width="150px"
    >
      <el-form-item
        label="Your nickname"
        prop="name"
        :rules="[
        { required: true, message: 'name is required' },
        { type: 'string', message: 'name should be a string' },
        { min: 3, message: 'name min length 3' },
      ]"
      >
        <el-input
          v-model.number="loginForm.name"
          type="name"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item style="text-align: left">
        <el-button type="primary" @click="submitForm" :loading="loading">Submit</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { Authentication } from "../core/application/authentication";

export default {
  data() {
    return {
      loading: false,
      loginForm: {
        name: ""
      }
    };
  },
  mounted() {
    if (Authentication().user) {
      this.$router.push("/");
    }
  },
  methods: {
    submitForm() {
      this.loading = true;
      this.$refs.loginForm.validate(async (valid) => {
        if (valid) {
          await Authentication().authenticate(this.loginForm.name);
          this.loading = false;
          this.$router.push("/");
          console.log(Authentication().user);
        } else {
          console.log("error submit!!");
          this.loading = false;
          return false;
        }
      });
    }
  }
};
</script>

<style scoped>
.auth-page {
  max-width: 400px;
  margin: 0 auto;
}
</style>
