<template>
  <div v-if="!wonItem">
    <el-row span="24" v-if="chest" :gutter="20">
      <el-col
        v-for="(item) in chest.items"
        :key="item.id"
        :span="6"
      >
        <el-card :body-style="{ padding: '15px' }">
          <img
            :src="item.icon"
            class="image"
            v-if="item.icon"
            style="width: 100%"
          />
          <div style="padding: 14px">
            <span>{{ item.name }}</span>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <div class="bottom">
      <el-button type="success" @click="openCase" :loading="loading">Open</el-button>
    </div>
  </div>
  <div v-else>
    <el-card :body-style="{ padding: '15px' }" style="width: 300px; margin: 0 auto;">
      <el-alert title="You won" type="success" :closable="false" center/>
      <img
        :src="wonItem.icon"
        class="image"
        v-if="wonItem.icon"
        style="width: 100%"
      />
      <div style="padding: 14px">
        <span>{{ wonItem.name }}</span>
      </div>
      <div class="bottom">
        <el-button type="success" @click="wonItem = null" :loading="loading"><el-icon><refresh-right /></el-icon> Try again</el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
import { cases } from "../core/services/api.service";
import { OpenCase } from "../core/application/openCase";
import { RefreshRight } from "@element-plus/icons";

export default {
  components: { RefreshRight },
  data() {
    return {
      wonItem: null,
      loading: false
    };
  },
  props: ["id"],
  computed: {
    chest() {
      return cases.find(i => i.id === this.id);
    }
  },
  methods: {
    async openCase() {
      this.loading = true;
      await OpenCase().purchase(this.chest).then((transaction) => {
        this.wonItem = transaction.wonItem;
        this.$message.success(`You won ${transaction.wonItem.name}`);
      }).catch((e) => {
        this.$message.error(e.message);
      });
      this.loading = false;
    }
  }
};
</script>

<style>
.el-col {
  margin-bottom: 20px;
}
</style>
