<template>
  <div class="home">
    <el-row>
      <el-col
        v-for="(chest, index) in cases"
        :key="chest.id"
        :span="8"
        :offset="index > 0 ? 2 : 0"
      >
        <el-card :body-style="{ padding: '0px' }">
          <img
            :src="chest.image"
            class="image"
            v-if="chest.image"
          />
          <div style="padding: 14px">
            <span>{{ chest.name }}</span>
            <div class="bottom" style="margin-top: 10px">
              <el-button size="mini" type="success" plain @click="$router.push(`/case/${chest.id}`)">Open</el-button>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { cases } from "@/core/services/api.service";

export default {
  computed: {
    cases: function() {
      return cases
    }
  },
  components: {
  },
};
</script>
