<template>
  <div class="transaction-page">
    <el-table
      :data="transactions"
      stripe
      style="width: 100%">
      <el-table-column
        prop="date"
        label="Date"
        width="250">
      </el-table-column>
      <el-table-column
        prop="chest"
        label="Case"
        width="180">
        <template #default="scope">
          <span>{{ scope?.row?.chest.name }}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="wonItem"
        label="Won item">
        <template #default="scope">
          <span>{{ scope?.row?.wonItem.name }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { transactionsStorageAdapter } from "../core/adapters/storage.adapter";
import { Authentication } from "../core/application/authentication";

export default {
  computed: {
    transactions() {
      return transactionsStorageAdapter().transactions
    }
  },
  mounted() {
    if (!Authentication().user) {
      this.$router.push("/");
    }
  }
};
</script>

<style scoped>
.auth-page {
  max-width: 400px;
  margin: 0 auto;
}
</style>
