<template>
  <div class="authorization-form">
    <form>
      <label>
        <span>Name</span>
        <input type="text" name="name" autoFocus />
      </label>
      <label>
        <span>Email</span>
        <input type="email" name="email" />
      </label>

      <button type="submit"></button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "AuthorizationForm",
});
</script>

<style scoped></style>
