<template>
  <el-container>
    <el-header>
      <div class="header-navigation">
        <router-link class="logo" to="/">CsBro</router-link>
        <el-button tag="el-button" class="auth" type="primary" plain @click="$router.push('/auth')" v-if="!user">
          Auth
        </el-button>
        <el-button tag="el-button" class="auth" plain @click="$router.push('/transactions')" v-else>
          {{ user.name }}
        </el-button>
        <template>
        </template>
      </div>
    </el-header>
    <el-main>
      <router-view />
    </el-main>
  </el-container>
</template>

<script>
import { Authentication } from "@/core/application/authentication";

export default {
  computed: {
    user() {
      return Authentication().user;
    }
  },
};
</script>

<style>
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}
</style>
<style scoped>
.header-navigation {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  color: #409EFF;
  font-size: 24px;
  margin-right: auto;
  line-height: 40px;
}
</style>
